<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div>
    <label>メールアドレス</label>
    <input type="email" formControlName="email" />

<!--    有沒有 required 這個錯誤：-->
<!--    .touched 使用者有沒有碰過這個欄位：-->
    @if (loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched) {
      <p>メールアドレスは必須です</p>
    }
    @if (loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched) {
      <p>正しいメールアドレスを入力してください</p>
    }
  </div>

  <div>
    <label>パスワード</label>
    <input type="password" formControlName="password" />

    @if (loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched) {
      <p>パスワードは必須です</p>
    }
    @if (loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.touched) {
      <p>パスワードは6文字以上です</p>
    }
  </div>

  <!-- Angular Property Binding ← 動態決定要不要 disabled -->
  <button type="submit" [disabled]="loginForm.invalid">ログイン</button>

</form>
